html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* La página completa ocupa al menos la altura de la ventana */
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card-admin {
	width: 80%;
}
.product-card {
	border: 1px solid #ccc;
	padding: 20px;
	margin: 10px;
	width: 300px;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}

.user-card {
	background-color: #f5f5f5;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	text-align: center;
}

.user-card p {
	margin: 0.5rem 0;
}

.user-card p:first-child {
	font-weight: bold;
}

.user-card img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 1rem;
}

img {
	width: 200px;
	height: 180px;
}

.content-wrap {
	flex: 1;
}

.div-footer {
	display: flex;
	justify-content: center;
	background-color: #848484;
	color: #ffffff;
	padding: 2px;
	text-align: center;
	font-size: 14px;
}

.div-footer p {
	margin: 5px 20px;
}

.div-footer p:hover {
	color: #c0c0c0;
	cursor: pointer;
}

.div-footer p:last-child {
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.profile-container {
		flex-direction: column;
	}
}
